<h1>
  {{title}}
</h1>
<div id = "daboxes">
  <div class = "box" [ngStyle]="{
  'background-color': color,
  'font-weight': 'bold'
}">
  </div>
  <div class = "box" [ngStyle]="{
  'background-color': color2,
  'font-weight': 'bold'
}">
  </div>
      <div class = "box" [ngStyle]="{
  'background-color': color3,
  'font-weight': 'bold'
}">
  </div>
      <div class = "box" [ngStyle]="{
  'background-color': color4,
  'font-weight': 'bold'
}">
  </div>
          <div class = "box" [ngStyle]="{
  'background-color': color5,
  'font-weight': 'bold'
}">
  </div>
          <div class = "box" [ngStyle]="{
  'background-color': color6,
  'font-weight': 'bold'
}">
  </div>
          <div class = "box" [ngStyle]="{
  'background-color': color7,
  'font-weight': 'bold'
}">
  </div>


</div>

