<h1> Ra ra ruh ra ruhh </h1>
<h3> Session Count: <%= count %></h3>
<form action = "/count" method="post">
  <input type = "submit" value = "plus 2 this bitch!!!" />
</form>
<form action = "/reset" method= "post">
<input type = "submit" value= "reset">
</form>
