<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>new</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <script src="main.js" type="text/javascript"></script>
</head>
<body>
  <form class = "col s6" action = "/users" method = "post">
    <h3> Register</h3>
    <label> Give me your name bitch</label>
    <input type = "text" name = "name" />
    <label> Give me your email bitch</label>
    <input type = "text" name = "email" />
    <label> Make a password bitch</label>
    <input type = "password" name = "password" />
    <input type= "submit" name = "submit" />
  </form>
  <form action = "/sessions" method="post">
  <h3> Login</h3>
  <label> Email</label>
  <input type = "text" name= "email" />
  <label> Password</label>
  <input type = "password" name = "password" />
  <input type ="submit" name="submit" />
  </form>
</body>
</html>
