<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SurveyForm</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
  <h1> Dojo Survey</h1>
      <form action = "/users" method = "post">
          <label> Your Name: </label>
            <input type = "text" name = "name"  />
          <label> Dojo Location </label>
            <select name = "location" >
              <option value = "dallas"> Dallas</option>
              <option value = "Tulsa"> Tulsa</option>
              <option value = "Seattle"> Seattle</option>
              <option value = "Socal"> Socal</option>
            </select>
            <label> Favorite Language </label>
                        <select name = "language">
                  <option value="java">Java</option>
                  <option value="ruby"> Ruby </option>
                  <option value="Python"> Python </option>
                  <option value="javascript">Javascript(boo)</option>
                  <option value="net">.Net</option>
                </select>
            <label> Comment (optional)</label>
                <input type = "textarea" name = "comment" />
    <input type = "submit" value = "submit" />
  </form>
    </body>
</html>
